@model OnLineQuizApplication.Models.LoginViewModel
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Icons/download.png" rel="icon" type="image/x-icon" />
    <!-- Font Awesome -->
    <link href="~/Content/MDB-Free/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/MDB-Free/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/Content/MDB-Free/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/Content/MDB-Free/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="col-lg-6 offset-3" style="margin-top: 8%">
        <!-- Default form login -->
        <div id="error">
            @if (ViewBag.Error != null)
            {
                <p class="text-danger"> @ViewBag.Error</p>

            }
        </div>
        <div class="border border-light p-5">
            @using (Html.BeginForm("Login", "Users", new { c = ViewBag.Controller, a = ViewBag.Action }, FormMethod.Post, new { id = "loginform" }))
            {
                <p class="h4 mb-4 text-center">Sign in</p>
                <!-- Email -->
                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control mb-4", id = "email" })
                    @Html.LabelFor(m => m.Email, new { @for = "email", @class = "form-check-label" })
                    <div class="text-center">
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger text-center" })
                    </div>
                </div>
                <!-- Password -->
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control mb-4", type = "password", id = "password" })
                    @Html.LabelFor(m => m.Password, new { @for = "password", @class = "form-check-label" })
                    <div class="text-center">
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="remeber">
                            @Html.LabelFor(m => m.Rememberme, new { @for = "remeber", @class = "custom-control-label" })
                        </div>
                    </div>
                    <div>
                        <a href="">Forgot password?</a>
                    </div>
                </div>
                <button class="btn btn-outline-deep-purple z-depth-0 waves-effect btn-block my-4" type="submit" style="border-radius: 21px">Sign in</button>
                <div class="text-center">
                    Create New Account ...<a href="@Url.Action("Signup", "Users")">SignUp</a>
                </div>

            }
        </div>
        <!-- Register -->
        @*<p>
                Not a member?
                <a href="">Register</a>
            </p>
             Social login
            <p>or sign in with:</p>
            <a type="button" class="light-blue-text mx-2">
                <i class="fa fa-facebook"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fa fa-twitter"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fa fa-linkedin"></i>
            </a>
            <a type="button" class="light-blue-text mx-2">
                <i class="fa fa-github"></i>
            </a>*@
        <!-- Default form login -->
    </div>
    <!-- JQuery -->
    <script src="~/Content/MDB-Free/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/Content/MDB-Free/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/MDB-Free/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/Content/MDB-Free/js/mdb.min.js"></script>
</body>
</html>
