@model OnlineQuizClasses.UserManagement.User
@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signup</title>
    <link href="~/Content/Icons/download.png" rel="icon" type="image/x-icon" />
    <!-- Font Awesome -->
    <link href="~/Content/MDB-Free/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/Content/MDB-Free/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="~/Content/MDB-Free/css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="~/Content/MDB-Free/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="col-lg-6 offset-3 mt-5">
        @using (Html.BeginForm("Signup", "Users", FormMethod.Post, new { @class = "border border-light p-3", id = "signupform", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <p class="h4 mb-4 text-center">Register Your Self</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="md-form">
                <i class="fa fa-image prefix"></i>
                @Html.TextBoxFor(m => m.ImageUrl, null, new { @class = "form-control mb-4", type = "file" })
                <div class="text-center">
                    @Html.ValidationMessageFor(m => m.ImageUrl, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control mb-4", id = "email" })
                @Html.LabelFor(m => m.Email, new { @for = "email", @class = "form-check-label" })
                <div class="text-center">
                    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                @Html.TextBoxFor(m => m.Password, null, new { @class = "form-control mb-4", type = "password", id = "password" })
                @Html.LabelFor(m => m.Password, new { @for = "password", @class = "form-check-label" })
                <div class="text-center">
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                @Html.TextBoxFor(m => m.ConfirmPassword, null, new { @class = "form-control mb-4", type = "password", id = "conpassword" })
                @Html.LabelFor(m => m.ConfirmPassword, new { @for = "conpassword", @class = "form-check-label" })
                <div class="text-center">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                @Html.TextBoxFor(m => m.Fullname, null, new { @class = "form-control mb-4", id = "fullname" })
                @Html.LabelFor(m => m.Fullname, new { @for = "fullname", @class = "form-check-label" })
                <div class="text-center">
                    @Html.ValidationMessageFor(m => m.Fullname, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group text-center">
                @Html.LabelFor(m => m.Gender.Name)&nbsp;&nbsp;&nbsp;&nbsp;
                @foreach (var b in (IEnumerable<SelectListItem>)ViewBag.GenderList)
                {
                    <label>@Html.RadioButton("gender.Name", b.Value) @b.Text</label>
                }
            </div>

            <div class="md-form">
                <button type="submit" class="btn btn-deep-purple btn-block" style="border-radius: 21px">SignUp</button>
            </div>
            <div class="md-form text-center text-default">
                <a href="@Url.Action("Login","Users")"><b>Back to Login</b></a>
            </div>
        }
    </div>
    <!-- JQuery -->
    <script src="~/Content/MDB-Free/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script src="~/Content/MDB-Free/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/MDB-Free/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/Content/MDB-Free/js/mdb.min.js"></script>
</body>
</html>
