@model IEnumerable<OnlineQuizClasses.QuizManagement.Question>
@{
    ViewBag.Title = "ConductQuiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
    int srno = 1;

    var endTime = DateTime.UtcNow.AddSeconds(10);
    var remainnigTime = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds.ToString("#");
}
<link href="~/Content/MDB-Free/css/quiz.css" rel="stylesheet" />
<section class="header">
    <div class="text-center">
        <h4 class="float-left mt-1">@Model.First().Quiz.QuizTitle  Quiz</h4>
        <h4 class="float-right mt-1"><span class="fa fa-clock"></span>&nbsp; @Model.First().Quiz.TotalTime</h4>
        <h4 class="text-center mt-2">Remainning Time:<span id="minRemainning"></span>:<span id="secRemaninning"></span></h4>
    </div>
</section>
@foreach (var v in Model)
{

    <form class="question-form mt-4" id="q-@count" data-question="@count">
        <h3>@srno.&nbsp; @v.Questions</h3>
        <ul>
            <li><input type="radio" id="opt1-@count" name="usman-@count" />&nbsp;&nbsp;<label for="opt1-@count">@v.Option1</label></li>
            <li><input type="radio" id="opt2-@count" name="usman-@count" />&nbsp;&nbsp;<label for="opt2-@count">@v.Option2</label></li>
            <li><input type="radio" id="opt3-@count" name="usman-@count" />&nbsp;&nbsp;<label for="opt3-@count">@v.Option3</label></li>
            <li><input type="radio" id="opt4-@count" name="usman-@count" />&nbsp;&nbsp;<label for="opt4-@count">@v.Option4</label></li>
        </ul>
        @if (srno < v.Quiz.TotalQuestion)
        {
            <button id="submit" class="btn btn-default">Submit</button>
        }
        else
        {
            <a class="btn btn-default" href="@Url.Action("Result","QuizHistory",new {id=v.Quiz.Id})">Done</a>
        }
    </form>
    count++;
    srno++;


}
<script type="text/javascript">

   var secRem =@remainnigTime;
        var seccounter = secRem % 60;

        function formateNumber(number) {
            if (number < 10) return '0' + number;
            else return '' + number;
        }
        function StartTicks() {
        document.getElementById('secRemaninning').innerText = formateNumber(seccounter);
        document.getElementById('minRemainning').innerText = formateNumber(parseInt(secRem / 60));
        var _tick = setInterval(function () {
            if (secRem > 0) {


                secRem = secRem - 1;
                seccounter = seccounter - 1;
                document.getElementById('secRemaninning').innerText = formateNumber(seccounter);
                document.getElementById('minRemainning').innerText = formateNumber(parseInt(secRem / 60));

                if (seccounter == 0) {
                    seccounter = 60;
                }
            } else {
                alert("Your Test Time Has Expire...!");
                debugger;

                var id = @Model.First().Quiz.Id;
                var url = "http://localhost:57752/QuizHistory/Result/" + id;
                window.location.replace(url);
                clearInterval(_tick);
            }

        }, 1000);
        }

    StartTicks();





</script>
<script src="~/Content/MDB-Free/js/jquery-3.3.1.min.js"></script>
<script src="~/Content/MDB-Free/js/quiz.js"></script>
